# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.RData
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# Data files (too large to store in the repo)
Source_Classification_Code.rds
summarySCC_PM25.rds
